{{ define "events_page" }}
<script defer src="/static/js/events.js" type="module"></script>
<div class="w-[calc(100%-3rem)] pt-10 ml-[3rem]">
    <header class="w-full px-4 flex items-center justify-between text-gray-800">
        <h1 class="font-semibold text-2xl">Events</h1>
        <div class="flex items-center gap-8">
            {{ template "events_progress_indicator" .ProgressIndicator }}
            <a href="{{ .NextUrl }}" class="text-gray-800 link">
                Next
            </a>
        </div>
    </header>

    <!-- TODO -->
    <div id="table-nav-floating" class="
        py-2 px-4 fixed bottom-2 right-4 flex items-center gap-8
        bg-white border border-gray-200 rounded-lg z-1000 hidden
    ">
        {{ template "events_progress_indicator" .ProgressIndicator }}
        <a href="{{ .NextUrl }}" class="text-gray-800 link">
            Next
        </a>
    </div>

    <div id="table-container" class="w-full px-4 mt-10 overflow-x-auto">
        <div class="w-fit min-w-full relative">
            <!-- header -->
            <div id="table-header-placeholder" class="w-full h-10"></div>
            <div id="table-header" class="
                w-full h-10 pl-4 grid grid-cols-[150px_1fr] items-center
                absolute top-0 z-1000
                bg-gray-50 border border-gray-200 rounded-lg text-gray-800
            ">
                <span>Date</span>
                <div class="w-full px-4 grid grid-cols-[300px_repeat(2,minmax(350px,1fr))_150px]">
                    <span>App</span>
                    <div class="flex">
                        <span class="w-1/2">Outgoing</span>
                        <span>Disposal</span>
                    </div>
                    <div class="flex">
                        <span class="w-1/2">Incoming</span>
                        <span>Acquisition</span>
                    </div>
                    <span>Profit</span>
                </div>
            </div>

            <ul 
                id="events-table"
                class="w-fit min-w-full mt-4 flex flex-col gap-y-4"
            >
                {{ template "events_rows" .Rows }}
            </ul>
        </div>
    </div>
</div>
{{ end }}

{{ define "events_rows" }}
{{ range . }}
    {{ if eq .Type 0 }}
        <li class="w-full py-1 px-4 bg-crossed rounded-lg">
            <span class="text-sm text-gray-800">{{ formatDate .Timestamp }}</span>
        </li>
    {{ else }}
        <!-- Timestamp + explorer -->
        <li class="w-full pl-4 grid grid-cols-[150px_1fr] gap-y-4">
            <div class="flex flex-col col-[1/2]">
                <a
                    href="{{ .ExplorerUrl }}"
                    target="_blank"
                    class="text-gray-800 decoration-gray-400 link"
                >{{ .TxId }}</a>
                <span class="text-sm text-gray-700">{{ formatTime .Timestamp }}</span>
            </div>

            <!-- event data -->
            
            {{ if .Events }}
                {{ range .Events }}
                    <div class="
                        w-full col-[2/-1] border border-gray-200 rounded-lg
                    ">
                        {{ template "event_component" . }}
                    </div>
                {{ end }}
            {{ else }}
                <div class="
                    w-full col-[2/-1] min-h-14 relative
                    flex items-center justify-center 
                    border border-gray-200 rounded-lg text-gray-600
                ">
                    {{ template "events_network_component" .NetworkImgUrl }}

                    This transaction does not have any events	
                </div>
            {{ end }}

            {{ if .HasErrors }}
                <div class="
                    w-full col-[2/-1] grid grid-cols-[repeat(2,1fr)]
                    border border-gray-200 rounded-lg 
                ">
                    {{ template "event_error_group_component" .PreprocessErrors }}
                    {{ template "event_error_group_component" .ProcessErrors }}
                </div>
            {{ end }}
        </li>
    {{ end }}
{{ end }}
{{ end }}

{{ define "events_progress_indicator" }}
<div 
    id="progress-indicator" 
    class="flex gap-2 items-center"
    {{ if not .Done }}data-request-id="{{ .RequestId }}"{{ end }}
>
    {{ if .Done }}
        <svg class="w-5 h-5 text-green-800" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
        </svg>
        <span>All fetched</span>
    {{ else }}
        <div 
            class="
                w-5 h-5 animate-spin rounded-full 
                border-2 border-b-transparent border-gray-600 text-gray-600
            "
        ></div>
        <span>{{ .Status }}</span>
    {{ end }}
</div>
{{ end }}

{{ define "events_network_component" }}
<div class="
	w-6 h-6 p-0.5 absolute top-0 left-0 -translate-y-1/3 -translate-x-1/3
	bg-gray-100 border border-gray-200 rounded-full
">
	<img 
		src="{{ . }}" 
		class="w-full h-full"
	/>
</div>
{{ end }}

{{ define "event_component" }}
    <button 
        {{ if .SourcesUi }}
            data-event-with-sources 
        {{ end }}
        id="{{ .Id }}" class="
            w-full px-4 py-2 grid grid-cols-[300px_repeat(2,minmax(350px,1fr))_150px] relative
            {{ tern (0 | gt (len .SourcesUi)) "cursor-pointer" "" }}
        "
    >
        {{ if not .Native }}
            {{ template "events_network_component" .NetworkImgUrl }}
        {{ end }}

        <!-- App img, network img, event type, onchain method -->
        <div class="flex">
            <div class="
                w-10 h-10 p-1 flex items-center justify-center 
                rounded-full bg-gray-100 border border-gray-200 overflow-hidden
            ">
                {{ if .AppImgUrl }}
                    <img src="{{ .AppImgUrl }}" class="w-full aspect-square" />
                {{ else }}
                    <span class="text-gray-400 text-xl font-semibold">?</span>
                {{ end }}
            </div>

            <div class="flex flex-col ml-4">
                <span class="text-gray-800 font-medium">{{ toTitle .Method }}</span>
                <span class="text-gray-600 text-sm">{{ toTitle .App }}</span>
            </div>
        </div>

        <!-- Outgoing -->
        {{ template "event_transfers_component" .OutgoingTransfers }}

        <!-- Incoming -->
        {{ template "event_transfers_component" .IncomingTransfers }}

        {{ if .Profits }}
            <div class="w-full flex flex-col gap-y-1">
                <div class="opacity-0 h-[1em] text-sm"></div>
                <div class="mt-1">
                    {{ range .Profits }}
                        {{ template "event_fiat_amount_component" . }}
                    {{ end }}
                </div>
            </div>
        {{ else }}
            <div class="w-full flex flex-col gap-y-1">
                <div class="opacity-0 h-[1em] text-sm"></div>
                <div class="mt-1">-</div>
            </div>
        {{ end }}
    </button>

    {{ if .SourcesUi }}
        <div class="hidden w-full px-4 py-2 border-t border-gray-200">
            <span class="text-sm text-gray-600">Sources</span>
            <ul class="w-full mt-2 flex flex-col gap-2 [--grid-cols:3rem_7rem_repeat(5,1fr)]">
                <li class="grid grid-cols-(--grid-cols) -mx-2 px-2 py-0.5 rounded-lg text-sm text-gray-800 bg-gray-100">
                    <span></span>
                    <span>Date</span>
                    <span>Time</span>
                    <span>Type</span>
                    <span>Token</span>
                    <span>Amount</span>
                    <span>Used amount</span>
                </li>
                {{ range .SourcesUi }}
                    {{ template "event_source_component" . }}
                {{ end }}
            </ul>
        </div>
    {{ end }}

    {{ if .MissingBalances }}
        <div class="w-full px-4 py-2 bg-red-100 rounded-b-[.45rem]">
            {{ range .MissingBalances }}
                <div class="flex items-center gap-2">
                    <span class="
                        w-4 h-4 rounded-full text-xs bg-red-700/20 text-red-700
                        flex items-center justify-center flex-shrink-0
                    ">!</span>
                    <span class="text-gray-700 text-sm flex items-center gap-2">
                        Missing balance
                        {{ template "event_token_amount_component" . }}
                    </span>
                </div>
            {{ end }}
        </div>
    {{ end }}
{{ end }}

{{ define "event_source_component" }}
<li class="grid grid-cols-(--grid-cols) text-gray-700 text-sm">
    <a href="/events?id={{ .EventId }}" target="_blank">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
        </svg>
    </a>
    <span>{{ formatDate .Timestamp }}</span>
    <span>{{ formatTime .Timestamp }}</span>
    <span>{{ toTitle .Method }}</span>
    <span class="flex items-center gap-2">
        {{ template "event_token_img" .TokenImgData }}
        {{ upper .Token }}
    </span>
    <span>{{ .TokenAmount }}</span>
    <span>{{ .UsedTokenAmount }}</span>
</li>
{{ end }}

{{ define "event_error_group_component" }}
<div class="
    w-full p-4 border-gray-200 flex flex-col
    {{ tern (.Type | eq 0) "border-r" "" }}
">
    <span class="text-gray-600 text-sm">
        {{ if eq .Type 0 }}
            Preprocess
        {{ else }}
            Process
        {{ end }}
        errors
    </span>

    {{ if not .Empty }}
        {{ $groupHeader := "-mx-2 px-2 py-0.5 text-sm text-gray-800 bg-red-100 rounded-lg" }}
        <ul class="mt-2 flex flex-col gap-3">
            {{ if .MissingSwapTransfers }}
                <li class="{{ $groupHeader }}">
                    Missing accounts
                </li>

                {{ range .MissingSwapTransfers }}
                    <li class="text-sm text-gray-700 flex items-center justify-between gap-2">
                        <span class="hoverable flex items-center justify-center gap-2">
                            <span class="
                                size-5 text-sm rounded-full text-orange-500 bg-orange-200/40
                                flex items-center justify-center
                                ">i</span>
                            Missing transfers for swap

                            <div class="floating w-[300px]! text-wrap!">
                                This instruction was supposed to be a swap but incoming or
                                outgoing transfer(s) are missing. The reason is most likely
                                that some token account is not being parsed properly prior to
                                this instruction.
                            </div>
                        </span>
                        <span class="flex-shrink-0">Ix: {{ . }}</span>
                    </li>
                {{ end }}
            {{ end }}

            {{ if .MissingAccounts }}
                <li class="{{ $groupHeader }}">
                    Missing accounts
                </li>

                {{ range .MissingAccounts }}
                    <li class="text-sm text-gray-700 flex items-center justify-between">
                        <span>{{ shorten .Account 4 4 }}</span>
                        <span>Ix: {{ .IxIdx }}</span>
                    </li>
                {{ end }}
            {{ end }}

            {{ if .BalanceMismatches }}
                <li class="{{ $groupHeader }} grid grid-cols-[20%_20%_2fr_1fr_1fr]">
                    <span class="col-[1/4]">Balance mismatches</span>
                    <span class="text-gray-600">Local</span>
                    <span class="text-gray-600">External</span>
                </li>
                
                {{ range .BalanceMismatches }}
                    <li class="text-sm text-gray-700 grid grid-cols-[20%_20%_2fr_1fr_1fr]">
                        <span>{{ shorten .Wallet 4 4 }}</span>
                        <span>{{ shorten .Account 4 4 }}</span>
                        <span class="flex gap-2 items-center">
                            {{ template "event_token_img" .ImgData }}
                            {{ upper .Token }}
                        </span>
                        <span class="w-fit hoverable">
                            {{ if .LocalZero }}
                                -
                            {{ else }}
                                {{ .LocalAmount }}
                                <div class="floating">
                                    {{ .LocalAmountLong }}
                                </div>
                            {{ end }}
                        </span>
                        <span class="w-fit hoverable">
                            {{ if .ExternalZero }}
                                -
                            {{ else }}
                                {{ .ExternalAmount }}
                                <div class="floating">
                                    {{ .ExternalAmountLong }}
                                </div>
                            {{ end }}
                        </span>
                    </li>
                {{ end }}
            {{ end }}

            {{ if .DataMismatches }}
                <li class="{{ $groupHeader }}">
                    Data mismatches
                </li>

                {{ range .DataMismatches }}
                    <li class="text-sm text-gray-700 grid grid-cols-[20%_20%_1fr_auto]">
                        <span>{{ shorten .Wallet 4 4 }}</span>
                        <span>{{ shorten .Account 4 4 }}</span>
                        <span>{{ .Message }}</span>
                        <span>Ix: {{ .IxIdx }}</span>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    {{ else }}
        <div class="w-full mt-2 text-gray-600 text-sm flex-grow flex items-center justify-center">
            No errors of this kind
        </div>
    {{ end }}
</div>
{{ end }}

{{ define "event_transfers_component" }}
<div class="w-full flex flex-col gap-y-1">
	<div class="w-full text-sm h-[1em]">
		<span class="text-gray-500 font-medium">
			{{ if . }}
                {{ .Wallet }}
			{{ end }}
		</span>
	</div>

	<div class="flex items-center mt-1">
		<!-- Token amounts -->
		<div class="w-1/2">
			{{ if and . .Tokens }}
				{{ range .Tokens }}
					{{ template "event_token_amount_component" . }}
				{{ end }}
			{{ else }}
				<div class="text-sm">-</div>
			{{ end }}
		</div>

		<!-- Fiat amounts -->
		<div>
			{{ if . }}
				{{ range .Fiats }}
					{{ template "event_fiat_amount_component" . }}
				{{ end }}
			{{ else }}
				<div class="text-sm">-</div>
			{{ end }}
		</div>
	</div>
</div>
{{ end }}

{{ define "event_token_img" }}
<div 
    class="w-5 h-5 rounded-sm overflow-hidden"
    {{ if (not .ImgUrl) | and .CoingeckoId }}
    data-coingecko-id="{{ .CoingeckoId }}"
    {{ end }}
>
    {{ if .ImgUrl }}
        <img src="{{ .ImgUrl }}" class="w-5 h-5" />
    {{ else }}
        <div class="
            w-full h-full flex items-center justify-center
            text-sm text-gray-600 bg-gray-200
        ">
            ?
        </div>
    {{ end }}
</div>
{{ end }}

{{ define "event_token_amount_component" }}
<div class="w-fit flex items-center gap-2 relative">
    {{ template "event_token_img" .ImgData }}

	<span
        class="text-gray-800 text-sm hoverable"
    >
        {{ .Amount }} {{ upper .Symbol }}
        <div class="flex-col floating">
            <span class="text-gray-500 text-xs font-semibold">Account</span>
            {{ shorten .Account 4 4 }}
            <span class="text-gray-500 text-xs font-semibold">Additional info</span>
            {{ .LongAmount }} {{ upper .Symbol }}
        </div>
    </span>
</div>
{{ end }}

{{ define "event_fiat_amount_component" }}
<div class="h-5 flex items-center gap-x-2 relative">
{{ if .Zero }}
	{{ if .Missing }}
		<div class="w-full flex items-center gap-x-1">
			<span class="
				w-4 h-4 rounded-full text-xs bg-red-700/20 text-red-700
				flex items-center justify-center flex-shrink-0
			">!</span>
			<span class="
				w-full px-2 py-1 text-sm text-red-800
			">Missing price</span>
		</div>
	{{ else }}
		<span class="text-gray-800 text-sm">-</span>
	{{ end }}
{{ else }}
	<span class="
		text-sm hoverable
		{{ tern (eq .Sign 0) "text-gray-800" (eq .Sign -1) "text-red-800" "text-green-800" }}
	">
        {{ .Amount }} {{ upper .Currency }}
        {{ if not .IsProfit }}
            <div class="flex-col floating">
                <span class="text-gray-500 text-xs font-semibold">Price</span>
                {{ .Price }} {{ upper .Currency }}
            </div>
        {{ end }}
    </span>
{{ end }}
</div>
{{ end }}


