{{ define "events_page" }}
<div class="w-full pt-5 pb-20 text-gray-800">
    <header class="w-full px-4 flex items-center justify-between">
        <h1 class="font-semibold text-2xl">Events</h1>

        <div class="flex items-center border border-gray-200 rounded-lg">
            {{ if .PrevUrl }}
            <a href="{{ .PrevUrl }}" class="size-8 rotate-90">
                {{ template "icon" "chevron-d" }}
            </a>
            {{ else }}
            <span class="size-8 rotate-90 text-gray-300" disabled>
                {{ template "icon" "chevron-d" }}
            </span>
            {{ end }}
            <div
                 class="h-8 px-2 border-l border-r border-gray-200 flex items-center">
                {{ .UiPage }}
            </div>
            {{ if .NextUrl }}
            <a href="{{ .NextUrl }}" class="size-8 -rotate-90">
                {{ template "icon" "chevron-d" }}
            </a>
            {{ else }}
            <span class="size-8 -rotate-90 text-gray-300" disabled>
                {{ template "icon" "chevron-d" }}
            </span>
            {{ end }}
        </div>
    </header>

    {{ if not . }}
    <div class="mt-10 px-4">
        Nothing here yet. Add wallets to seem the events here.
        <a href="/wallets"
           class="h-10 w-fit px-4 block leading-10 mt-4 bg-gray-200 rounded-lg">
            Add wallets</a>
    </div>
    {{ else if not .Events }}
    <div class="mt-10 px-4">
        You've got too far.
        <a href="/events"
           class="h-10 w-fit px-4 block leading-10 mt-4 bg-gray-200 rounded-lg">
            Back to start</a>
    </div>
    {{ else }}
    <!-- NOTE: because of CSS being absolutely dogshit styling utility, this needs -->
    <!-- to have padding top 10, otherwise the tooltip would be cut on Y ??? axis -->
    <!-- because the ul has overflow-x set to auto ???? -->
    <div class="w-full pt-10 overflow-auto">
        <ul
            class="w-full min-w-[850px] grid grid-cols-[auto_100px_repeat(5,1fr)] gap-x-6">
            <li
                class="w-full col-span-full grid grid-cols-subgrid items-center h-10 px-4 border-b border-t border-gray-200 text-gray-800 font-medium">
                <span>Info</span>
                <span>App</span>
                <span>Outgoing</span>
                <span></span>
                <span>Incoming</span>
                <span></span>
                <span>Profit</span>
            </li>
            {{ range .Events }}
            {{ if .Header }}
            <li
                class="w-full h-8 px-4 col-span-full grid grid-cols-subgrid items-center bg-crossed border-b border-gray-200 text-sm font-medium">
                {{ date .Timestamp }}
            </li>
            {{ else }}
            <li
                class="w-full px-4 pt-3 col-span-full grid grid-cols-subgrid w-full border-b border-gray-200">
                <div class="flex flex-col text-sm">
                    {{ if .ShowGroupHeader }}
                    <span class="block">{{ time .Timestamp }}</span>
                    {{ if .TxId.Valid }}
                    <a href="{{ .TxExplorerUrl }}" target="_blank"
                       class="link">{{ slice .TxId.String 0 6 }}</a>
                    {{ end }}
                    {{ end }}
                </div>

                {{ if or .OutgoingTransfers .IncomingTransfers }}
                <div class="flex flex-col">
                    <span class="text-sm">{{ toTitle .Method }}</span>
                    <span
                          class="text-sm text-gray-600">{{ toTitle .App }}</span>
                </div>
                <div class="col-[3/5] text-red-800">
                    {{ template "event_transfers" .OutgoingTransfers }}
                </div>
                <div class="col-[5/7] text-green-800">
                    {{ template "event_transfers" .IncomingTransfers }}
                </div>
                <div>
                    {{ template "event_profits" .Profit }}
                </div>
                {{ else }}
                <div class="col-[2/-1] w-full">
                    <p class="block w-full">This transaction does not have any
                        events</p>
                </div>
                {{ end }}

                {{ if .MissingAmounts }}
                <div
                     class="col-span-full w-[calc(100%-var(--spacing)*8] -mx-4 mt-3 px-4 py-1 bg-red-600/20 text-sm">
                    <!-- TODO: -->
                    <!-- missing amount / interest -->
                    <p class="text-xs text-gray-600">Missing amounts</p>
                    {{ range .OutgoingTransfers.Transfers }}
                    {{ if .MissingAmount }}
                    <span>
                        {{ .Account }}: {{ .Amount }} {{ upper .Token }}
                    </span>
                    {{ end }}
                    {{ end }}
                </div>
                {{ else }}
                <div class="col-span-full w-full h-3"></div>
                {{ end }}
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
    {{ end }}
</div>
{{ end }}

{{ define "img_with_fallback" }}
{{ if .ImageUrl }}
<img class="aspect-square max-w-full max-h-full rounded-full border border-gray-200"
     src="{{ .ImageUrl }}" />
{{ else }}
<div data-fetch-logo="{{ .CoingeckoId }}"
     class="aspect-square max-w-full max-h-full rounded-full bg-gray-200 flex items-center justify-center">
    <span class="text-gray-600 text-xs">?</span>
</div>
{{ end }}
{{ end }}

{{ define "event_transfers" }}
<div class="w-full">
    <div class="h-5 flex items-end gap-x-2 text-sm text-gray-600">
        {{ if . }}
        <span>{{ .WalletLabel }}</span>
        {{ end }}
    </div>
    <ul class="mt-1 flex flex-col gap-y-1">
        {{ if . }}
        {{ range .Transfers }}
        <li
            class="w-fit grid grid-cols-[auto_1fr] gap-y-1 gap-x-2 group relative text-sm">
            <div class="h-6 col-span-full grid grid-cols-subgrid items-center">
                <div class="size-5 p-0.25">
                    {{ template "img_with_fallback" . }}
                </div>

                <span>{{ formatDecimal .Amount 4 }}
                    {{ upper .Token }}</span>
            </div>
            <div class="h-6 col-span-full grid grid-cols-subgrid items-center">
                <div></div>
                <div class="text-gray-800">
                    <span>{{ formatDecimal .Value 2 }}
                        {{ upper .Currency }}</span>
                </div>
            </div>

            <div
                 class="hidden group-hover:block absolute top-0 left-0 -translate-y-full pb-2">
                <div
                     class="px-4 py-2 bg-white border-gray-200 rounded-lg text-gray-600 shadow-sm">
                    <div class="flex flex-col">
                        <span class="font-semibold">Account</span>
                        <span>{{ shorten .Account 6 2 }}</span>
                        <span class="font-semibold">Full amount</span>
                        <span class="text-nowrap">{{ .Amount }}
                            {{ upper .Token }}</span>
                        <span class="font-semibold">Price</span>
                        <span>{{ round .Price }} {{ upper .Currency }}</span>
                    </div>
                </div>
            </div>
        </li>
        {{ end }}
        {{ else }}
        <li class="h-6 flex items-center text-sm">
            <span>-</span>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}

{{ define "event_profits" }}
<div class="h-5 text-sm"></div>
<div class="h-6 flex items-center gap-2 mt-1 text-gray-800 text-sm">
    {{ if . }}
    <span>{{ formatDecimal .Value 2 }} {{ upper .Currency }}</span>
    {{ else }}
    <span>-</span>
    {{ end }}
</div>
{{ end }}
