{{ define "icon" }}
<use href="/static/sprites.svg?t={{ now }}#{{ . }}" />
{{ end }}

{{ define "loading_spinner" }}
<div class="w-full aspect-square flex items-center justify-center">
    <div
         class="w-full aspect-square animate-spin rounded-full border-2 border-[currentColor] border-b-transparent">
    </div>
</div>
{{ end }}

{{ define "global_status" }}
<div id="global_status" class="w-full h-8" {{ if .SseSubscribe }}
     data-sse-subscribe="/jobs/sse" {{ end }}>
    {{ if eq .Status "success" }}
    <div class="w-full h-8 flex items-center gap-3">
        <svg
             class="size-8 p-1.5 rounded-lg bg-green-600/20 shrink-0 text-green-600">
            {{ template "icon" "checkmark" }}
        </svg>
        <span class="hidden group-hover:inline pr-1.5">All synced</span>
    </div>
    {{ else if eq .Status "uninitialized" }}
    <div class="w-full h-8 flex items-center gap-3">
        <div
             class="size-8 rounded-lg bg-gray-200 flex items-center justify-center">
            <div class="size-4 rounded-full bg-gray-300">
            </div>
        </div>
        <span class="hidden group-hover:inline pr-1.5">No wallets yet</span>
    </div>
    {{ else if eq .Status "error" }}
    <div class="w-full h-8 flex items-center gap-3">
        <svg class="size-8 p-1.5 rounded-lg bg-red-600/20 shrink-0 text-red-600"
             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
             stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
        </svg>
        <span class="hidden group-hover:inline pr-1.5">Error</span>
    </div>
    {{ else }}
    <!-- queued / in progress -->
    <div class="w-full h-fit">
        <div class="w-full h-8 flex items-center gap-3">
            <div
                 class="size-8 p-2 rounded-lg bg-gray-200 shrink-0 text-gray-600">
                {{ template "loading_spinner" }}
            </div>
            <span class="hidden group-hover:inline pr-1.5">Syncing</span>
        </div>

        <ul
            class="w-full h-fit pl-11 mt-4 hidden group-hover:flex text-sm flex-col gap-2 text-gray-600">
            {{ range .InProgressJobs }}
            <li class="flex gap-3 items-center">
                <div class="size-3">
                    {{ template "loading_spinner" }}
                </div>
                {{ . }}
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</div>
{{ end }}

{{ define "nav_links" }}
<a href="/wallets"
   class="block w-full rounded-lg hover:bg-gray-200 flex items-center gap-3">
    <svg class="size-8 p-1.5 shrink-0">
        {{ template "icon" "wallet" }}
    </svg>
    {{ if . }}
    <span class="hidden group-hover:inline pr-1.5">Wallets</span>
    {{ else }}
    <span class="pr-1.5">Wallets</span>
    {{ end }}
</a>
<a href="/events"
   class="block w-full rounded-lg hover:bg-gray-200 flex items-center gap-3">
    <svg class="size-8 p-1.5 shrink-0">
        {{ template "icon" "arrows" }}
    </svg>
    {{ if . }}
    <span class="hidden group-hover:inline pr-1.5">Events</span>
    {{ else }}
    <span class="pr-1.5">Events</span>
    {{ end }}
</a>
<a href="/tokens"
   class="block w-full rounded-lg hover:bg-gray-200 flex items-center gap-3">
    <svg class="size-8 p-1.5 shrink-0">
        {{ template "icon" "money" }}
    </svg>
    {{ if . }}
    <span class="hidden group-hover:inline pr-1.5">Tokens</span>
    {{ else }}
    <span class="pr-1.5">Tokens</span>
    {{ end }}
</a>
{{ end }}

{{ define "dashboard_layout" }}
<!DOCTYPE html>
<html>

<head>
    <title>Taxee</title>
    <link href="static/output.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
</head>

<body
      class="min-h-screen w-full relative bg-gray-50 text-gray-800 [--nav-sidebar-w:calc(var(--spacing)*12)] [--header-h:calc(var(--spacing)*12)]">
    <div id="loading-spinner" class="absolute inset-0 hidden">
        {{ template "loading_spinner" }}
    </div>

    <header
            class="sticky top-0 w-full px-4 h-[var(--header-h)] bg-inherit border-b border-gray-200 flex items-center justify-between z-10">
        <h1>Taxee</h1>

        <div class="flex gap-2 items-center">
            <!-- TODO: on mobile status should be shown here -->
            <button id="nav-btn"
                    class="flex items-center gap-2 rounded-lg bg-gray-50 hover:bg-gray-200 sm:hidden">
                <svg class="size-8 p-1.5">
                    {{ template "icon" "menu" }}
                </svg>
            </button>
        </div>
    </header>

    <nav
         class="w-[var(--nav-sidebar-w)] hover:w-70 p-2 hidden sm:flex flex-col gap-2 fixed top-[var(--header-h)] bottom-0 left-0 border-r border-gray-200 bg-inherit group z-10">
        {{ template "nav_links" true }}

        <div class="w-full border-b border-gray-200"></div>

        {{ template "global_status" .StatusIndicator }}
    </nav>

    <nav id="mobile-nav"
         class="hidden sm:hidden fixed top-[var(--header-h)] bottom-0 left-0 right-0 bg-inherit z-10 flex flex-col gap-2 px-2 pt-2">
        {{ template "nav_links" }}
    </nav>

    <script>
        const navBtn = document.querySelector("#nav-btn");
        const nav = document.querySelector("#mobile-nav");
        navBtn.addEventListener("click", function () {
            nav.classList.toggle("hidden");
        })
    </script>

    <div
         class="w-full sm:w-[calc(100%-var(--nav-sidebar-w))] sm:ml-[var(--nav-sidebar-w)]">
        {{ .Content }}
    </div>
</body>

</html>
{{ end }}
