{{ define "wallets_page" }}
<script defer type="module" src="/static/js/wallets.js"></script>
<div id="loading-spinner"
     class="absolute inset-0 flex items-center justify-center hidden">
    <div
         class="aspect-square animate-spin rounded-full border-2 border-gray-800 border-b-transparent">
    </div>
</div>

<div class="w-full pt-5 pb-20 text-gray-800">
    <div class="max-w-[800px] w-full mx-auto px-4">
        <header class="w-full">
            <h1 class="font-semibold text-2xl">Add wallet</h1>
        </header>

        <form method="POST" action="/wallets"
              class="w-full mt-8 flex flex-col items-end gap-4">
            <input type="text" required id="wallet_address"
                   name="wallet_address" placeholder="Wallet address"
                   class="w-full h-10 px-4 border border-gray-200 rounded-lg" />
            <select id="network" name="network" required
                    class="w-full h-10 px-4 border border-gray-200 rounded-lg">
                <option value="" selected disabled>Choose a network</option>
                <option value="0">Solana</option>
                <option value="3">Arbitrum</option>
            </select>
            <button type="submit" data-spinner
                    class="h-10 w-fit aspect-[5/2] bg-gray-200 rounded-lg hover:bg-gray-300 disabled:text-gray-400 disabled:bg-gray-200">
                Add
            </button>
        </form>

        {{ template "wallets" . }}
    </div>
</div>
{{ end }}

{{ define "wallets" }}
<div class="2-full mt-10" id="wallets">
    <div class="flex items-center justify-between">
        <p class="text-2xl font-semibold">Wallets</p>
        {{ template "wallets_count" .WalletsCount }}
    </div>
    {{ if .Wallets }}
    <ul class="w-full mt-6 flex flex-col gap-4" id="wallets-table">
        {{ range .Wallets }}
        {{ template "wallet" . }}
        {{ end }}
    </ul>
    {{ else }}
    <p class="text-gray-700 mt-6">Add wallet to see it here.
    </p>
    {{ end }}
</div>
{{ end }}

{{ define "wallets_count" }}
<span id="wallets-count">{{ . }}</span>
{{ end }}

<!-- TODO: group by network -->
{{ define "wallet" }}
<li class="w-full border border-gray-200 rounded-lg relative isolate"
    id="wallet-{{ .Id }}" {{ if .Insert }} data-insert="afterbegin"
    data-parent="wallets-table" {{ end }} {{ if .ShowSseUrl }}
    data-sse-subscribe="/wallets/sse?id={{ .Id }}" {{ end }}>
    <div class=" w-6 h-6 p-0.5 absolute top-0 left-0 -translate-y-1/3 -translate-x-1/3 bg-gray-100 border
        border-gray-200 rounded-full">
        <img src="{{ .NetworkImgUrl }}" class="w-full h-full" />
    </div>

    <div class="w-full">
        <div class="flex items-start justify-between p-2">
            <div>
                <div class="flex items-center gap-2">
                    <span class="font-semibold">{{ .Label }}</span>
                    {{ template "wallet_status" . }}
                </div>
                <a href="{{ .AccountUrl }}" target="_blank"
                   class="link text-sm text-gray-700">{{ shorten .Address 6 4 }}</a>
            </div>

            <div class="flex gap-2">
                {{ if or (eq .Status "queued") (eq .Status "in_progress") }}
                <form class="size-8" method="PUT" action="/wallets">
                    <input class="hidden" type="text" value="{{ .Id }}"
                           name="id" />
                    <input class="hidden" type="text" value="cancel_scheduled"
                           name="status" />
                    <button class="size-8 rounded-lg hover:bg-gray-200"
                            data-spinner="w-4">
                        <svg class="p-1.5" xmlns="http://www.w3.org/2000/svg"
                             fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </button>
                </form>
                {{ else }}
                <form class="size-8" method="PUT" action="/wallets">
                    <input class="hidden" type="text" value="{{ .Id }}"
                           name="id" />
                    <input class="hidden" type="text" value="queued"
                           name="status" />
                    <button class="size-8 rounded-lg hover:bg-gray-200 disabled:text-gray-400 disabled:hover:bg-inherit"
                            data-spinner="w-4"
                            {{ if eq .Status "cancel_scheduled" }} disabled
                            {{ end }}>
                        <svg class="p-1.5" xmlns="http://www.w3.org/2000/svg"
                             fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                        </svg>
                    </button>
                </form>
                {{ end }}

                <form class="size-8" method="delete"
                      action="/wallets?id={{ .Id }}"
                      data-sse-unsubscribe="/wallets/sse?id={{ .Id }}"
                      data-delete-on-success="wallet-{{ .Id }}">
                    <button class="size-8 text-red-600 rounded-lg hover:bg-gray-200"
                            data-spinner="w-4">
                        <svg class="p-1.5" xmlns="http://www.w3.org/2000/svg"
                             fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                        </svg>
                    </button>
                </form>
                <button class="size-8 rounded-lg hover:bg-gray-200 min-[470px]:hidden"
                        data-wallet-table-expand="{{ .Id }}">
                    <svg class="p-1.5 transition-all"
                         xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>
                </button>
            </div>
        </div>

        <table class="hidden min-[470px]:hidden p-2 border-t border-gray-200 flex flex-col gap-2 text-sm text-gray-700"
               data-wallet-table="{{ .Id }}">
            <tbody>
                <tr class="flex items-center justify-between">
                    <td>Transactions</td>
                    <td class="font-medium text-right">{{ .TxCount }}</td>
                </tr>
                <tr class="flex items-center justify-between">
                    <td>Last sync at</td>
                    <td class="font-medium text-right">{{ .LastSyncAt }}</td>
                </tr>
                <tr class="flex items-center justify-between">
                    <td>Imported at</td>
                    <td class="font-medium text-right">{{ .ImportedAt }}</td>
                </tr>
            </tbody>
        </table>

        <div
             class="px-2 pb-2 hidden min-[470px]:flex items-start justify-between text-sm">
            <span>
                <span class="font-medium">{{ .TxCount }}</span>
                transactions
            </span>

            <div class="flex flex-col sm:flex-row sm:gap-2 tex-right">
                <span>
                    Last sync at
                    <span class="font-medium">{{ .LastSyncAt }}</span>
                </span>
                <span class="hidden sm:inline">&middot;</span>
                <span>
                    Imported at
                    <span class="font-medium">{{ .ImportedAt }}</span>
                </span>
            </div>
        </div>
    </div>
</li>
{{ end }}

{{ define "wallet_status" }}
<div class="flex items-center justify-center gap-1 text-gray-600">
    {{ if eq .Status "queued" }}
    <div
         class="size-3 border-2 border-gray-400 border-b-transparent rounded-full animate-spin">
    </div>
    <span class="text-sm leading-none hidden min-[470px]:inline">Queued</span>
    {{ else if eq .Status "in_progress" }}
    <div
         class="size-3 border-2 border-gray-400 border-b-transparent rounded-full animate-spin">
    </div>
    <span class="text-sm leading-none hidden min-[470px]:inline">Syncing</span>
    {{ else if eq .Status "success" }}
    <svg class="size-4" xmlns="http://www.w3.org/2000/svg" fill="none"
         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
    </svg>
    <span class="text-sm leading-none hidden min-[470px]:inline">Synced</span>
    {{ else if eq .Status "error" }}
    <svg class="size-4" xmlns="http://www.w3.org/2000/svg" fill="none"
         viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
    </svg>
    <span class="text-sm leading-none hidden min-[470px]:inline">Error</span>
    {{ else if or (eq .Status "cancel_scheduled") (eq .Status "canceled") }}
    <svg class="size-4" xmlns="http://www.w3.org/2000/svg" fill="none"
         viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>
    <span class="text-sm leading-none hidden min-[470px]:inline">Canceled</span>
    {{ end }}
</div>
{{ end }}
