@import "tailwindcss";

@font-face {
    font-family: "Geist-mono";
    font-weight: 100 900;
    src: url("/static/geist-mono.ttf");
}

* {
    font-family: "Geist-mono";
}

/* html { */
/*     font-size: 24px !important; */
/* } */

.bg-crossed {
    background-image: repeating-linear-gradient(
        -55deg,
        var(--color-gray-200) 0 2px,
        transparent 2px 8px
    );
}

.hoverable {
    @apply relative;
}

.hoverable:hover .floating {
    @apply flex;
}

.floating {
    @apply hidden absolute w-fit px-4 py-2 -top-2 -translate-y-full left-1/2 -translate-x-1/2
        bg-white border border-gray-200 rounded-lg text-sm text-nowrap text-gray-800 shadow-xs;
}

.hoverable:hover .floating-right {
    @apply flex;
}

.floating-right {
    @apply hidden absolute w-fit px-4 py-2
        top-1/2 -translate-y-1/2 -right-2 translate-x-full 
        bg-white border border-gray-200 rounded-lg
        text-sm text-nowrap text-gray-800 shadow-xs;
}

.link {
    @apply underline decoration-dotted;
}

.button-sm {
    @apply h-8 px-4 hover:bg-gray-200 rounded-lg;
}
