@import "tailwindcss";

@font-face {
    font-family: "Geist-mono";
    font-weight: 100 900;
    src: url("/static/geist-mono.ttf");
}

* {
    font-family: "Geist-mono";
}

.bg-crossed {
    background-image: repeating-linear-gradient(
        -55deg,
        var(--color-gray-200) 0 2px,
        transparent 2px 8px
    );
}

#hoverable {
    @apply relative;
}

#hoverable:hover #floating {
    @apply flex;
}

#floating {
    @apply hidden absolute w-fit px-4 py-2 -top-2 -translate-y-full left-1/2 -translate-x-1/2
        bg-white border border-gray-200 rounded-lg text-sm text-nowrap text-gray-800;
}
